In [2]:
import pandas as pd
import numpy as np
from collections import Counter
import datetime

# 要的資料(已刪除怪時間)

In [3]:
df1 = pd.read_csv("C:/Users/USER/Desktop/0315運具資料/0315_mrt_1.csv", engine='python')
df2 = pd.read_csv("C:/Users/USER/Desktop/0315運具資料/0315_mrt_2.csv", engine='python')
df3 = pd.read_csv("C:/Users/USER/Desktop/0315運具資料/0315_mrt_3.csv", engine='python')

df = pd.concat([df1, df2, df3])
df = df.reset_index(drop=True)
df.head(10)

,卡號,卡種,進站時間,出站時間,進站站名,出站站名
0,4EAA7E5DF9ABF31C25C044C3D97BB99B,1,2018/3/15 00:00,2018/3/15 00:03,中山,台北車站
1,692F806BA592B4D71D860EA4A6FDF776,1,2018/3/15 00:00,2018/3/15 00:07,景美,大坪林
2,5ADE62B16DF06DCC73979766C9583BAD,1,2018/3/15 00:00,2018/3/15 00:07,南港軟體園區,葫洲
3,5DBBD10BB6CE5FB1818256B728A1AF4F,1,2018/3/15 00:00,2018/3/15 00:07,台北車站,中正紀念堂
4,670A0867B357411F25C044C3D97BB99B,1,2018/3/15 00:00,2018/3/15 00:07,台北車站,中正紀念堂
5,997F2CDD258A512D3C0CD0171B4868F5,1,2018/3/15 00:00,2018/3/15 00:08,台北車站,西門
6,612D9882EF211EF9A85E5D42186C3DA3,1,2018/3/15 00:00,2018/3/15 00:08,忠孝敦化,永春
7,BD09011AE0C16096268824DC1A5F3F43,6,2018/3/15 00:00,2018/3/15 00:08,板橋,海山
8,1952E9E52F57B95925C044C3D97BB99B,9,2018/3/15 00:00,2018/3/15 00:08,龍山寺,西門
9,6F18837E7116F5113C0CD0171B4868F5,1,2018/3/15 00:00,2018/3/15 00:10,台北車站,古亭

## 刪除凌晨、同站進出及只有一次的紀錄

In [4]:
df = df.loc[df['出站時間'] >= '2018/3/15 05:30']
df = df.loc[df['進站站名'] != df['出站站名']]
result = Counter(df['卡號']) # 看每個卡號出現幾次
len(result)

994429

In [64]:
r = [e for e in result if result[e] >= 2]
dff = df.loc[df['卡號'].isin(r)]
print(dff.head(10))
print(len(Counter(dff['卡號'])))

                                    卡號   卡種             進站時間             出站時間  \
3538  5DBC2CB150945296A24EBEEFD30BA8D2  129  2018/3/15 05:30  2018/3/15 06:22
3539  1DCEE93118CE1B0FD988060A0F580936    2  2018/3/15 05:31  2018/3/15 06:33
3541  B48E4E2B9A6D01CCBA30602405CFB44A    1  2018/3/15 05:31  2018/3/15 06:48
3542  CE362EC2BDED2467198E57A6F07C8FE8    1  2018/3/15 05:32  2018/3/15 06:03
3543  F19F5F5248A857CD95BC1EA72255A32D    1  2018/3/15 05:32  2018/3/15 06:34
3545  701CE073A3A6343273979766C9583BAD    2  2018/3/15 05:33  2018/3/15 06:16
3548  DED0B025B9FE2084B584C801467FB4E7    2  2018/3/15 05:33  2018/3/15 06:39
3549  C5C50C307C4B8E1AFBFD76602BB80929    1  2018/3/15 05:33  2018/3/15 06:42
3550  09C8C76193B9AE643C0CD0171B4868F5    1  2018/3/15 05:34  2018/3/15 06:14
3552  F0A72039BA2AAE81DC96B3BABAFED5B0    1  2018/3/15 05:34  2018/3/15 06:19

       進站站名   出站站名
3538  中正紀念堂     新店
3539     輔大     石牌
3541     輔大  南港展覽館
3542     古亭     東門
3543     頂埔   南京復興
3545    江子翠   忠孝復興
3548     輔大  台北小巨蛋
3549     頂埔     昆陽
3550     頂埔     板橋
3552     新埔   南京復興
510202

## 讀取怪時間的檔案，把有在這裏面的卡號也刪掉

In [6]:
df_d1 = pd.read_csv("C:/Users/USER/Desktop/0315運具資料/0315_mrtnot_1.csv", engine='python')
df_d2 = pd.read_csv("C:/Users/USER/Desktop/0315運具資料/0315_mrtnot_2.csv", engine='python')
df_d = pd.concat([df_d1, df_d2])

dfff = dff.loc[~dff['卡號'].isin(df_d['卡號'])]
dfff.head(10)

,卡號,卡種,進站時間,出站時間,進站站名,出站站名
3538,5DBC2CB150945296A24EBEEFD30BA8D2,129,2018/3/15 05:30,2018/3/15 06:22,中正紀念堂,新店
3539,1DCEE93118CE1B0FD988060A0F580936,2,2018/3/15 05:31,2018/3/15 06:33,輔大,石牌
3541,B48E4E2B9A6D01CCBA30602405CFB44A,1,2018/3/15 05:31,2018/3/15 06:48,輔大,南港展覽館
3542,CE362EC2BDED2467198E57A6F07C8FE8,1,2018/3/15 05:32,2018/3/15 06:03,古亭,東門
3543,F19F5F5248A857CD95BC1EA72255A32D,1,2018/3/15 05:32,2018/3/15 06:34,頂埔,南京復興
3545,701CE073A3A6343273979766C9583BAD,2,2018/3/15 05:33,2018/3/15 06:16,江子翠,忠孝復興
3548,DED0B025B9FE2084B584C801467FB4E7,2,2018/3/15 05:33,2018/3/15 06:39,輔大,台北小巨蛋
3549,C5C50C307C4B8E1AFBFD76602BB80929,1,2018/3/15 05:33,2018/3/15 06:42,頂埔,昆陽
3550,09C8C76193B9AE643C0CD0171B4868F5,1,2018/3/15 05:34,2018/3/15 06:14,頂埔,板橋
3552,F0A72039BA2AAE81DC96B3BABAFED5B0,1,2018/3/15 05:34,2018/3/15 06:19,新埔,南京復興

In [70]:
len(Counter(dfff['卡號']))

453671

# **4個藍色禁止的卡號**

In [47]:
# 1
result_d = Counter(df_d['卡號'])
delete_card_id = [e for e in result_d if result_d[e] >= 2]
df_blue = df_d.loc[df_d['卡號'].isin(delete_card_id)]
d1 = df_blue

In [8]:
dfff_1 = dfff

In [9]:
dfff_1.to_csv("C:/Users/USER/Desktop/0315運具資料/無單筆_無同站_無怪時間_全卡種.csv")

## 取出卡種為1者(不要了)

In [10]:
#dfff_1 = dfff.loc[dfff['卡種'] == 1] # 卡種為1

In [11]:
#dfff_1.to_csv("C:/Users/USER/Desktop/0315運具資料/無單筆_無怪時間_卡種1.csv")

In [12]:
#dfff_1.shape

## 刪除第一次出站是'輔大', '唭哩岸', '大湖公園', '竹圍', '頂埔'的紀錄

In [13]:
dfff_1_sort = dfff_1.sort_values(by=['卡號', '進站時間'])

card_id = list(set(list(dfff_1_sort['卡號']))) # 取出卡號的unique
"""for i in dfff_1_sort['卡號']:
    if i not in card_id:
        card_id.append(i)"""

"for i in dfff_1_sort['卡號']:\n    if i not in card_id:\n        card_id.append(i)"

In [14]:
del_stations = ['輔大', '唭哩岸', '大湖公園', '竹圍', '頂埔']
dfff_1_sort_ds = dfff_1_sort.loc[dfff_1_sort['出站站名'].isin(del_stations)]
card_idd = list(set(list(dfff_1_sort_ds['卡號'])))
dfff_1_sort_ds1 = dfff_1_sort.loc[dfff_1_sort['卡號'].isin(card_idd)]
dfff_1_sort_ds1 = dfff_1_sort_ds1.sort_values(by=['卡號', '進站時間'])
card_iddd = list(set(list(dfff_1_sort_ds1['卡號'])))
del_card_id = [e for e in card_iddd if dfff_1_sort_ds1.iloc[list(dfff_1_sort_ds1['卡號']).index(e), 5] in del_stations]
"""
for i, j in zip(card_id, first_id):
    if dfff_1_sort.iloc[j, 5] in del_stations:
        del_card_id.append(i)"""

'\nfor i, j in zip(card_id, first_id):\n    if dfff_1_sort.iloc[j, 5] in del_stations:\n        del_card_id.append(i)'

In [65]:
len(del_card_id)

7070

In [15]:
dfff_1_sort.shape

(963512, 6)

In [16]:
dfff_1_sort_del = dfff_1_sort.loc[~dfff_1_sort['卡號'].isin(del_card_id)]
dfff_1_sort_del.shape

(948547, 6)

# 4個藍色禁止的卡號

In [48]:
# 2
d2 = dfff_1.loc[dfff_1['卡號'].isin(del_card_id)]
df_blue = pd.concat([df_blue, d2])
df_blue = df_blue.reset_index(drop=True)

## 找出第一次進站等於最後一次出站、第一次出站等於第二次進站(原變數名稱簡化為df_1_del)

In [18]:
df_1_del = dfff_1_sort_del # 原變數名稱簡化為df_1_del

card_id2 = list(set(list(df_1_del['卡號']))) # 取出卡號的unique
"""for i in df_1_del['卡號']:
    if i not in card_id2:
        card_id2.append(i)"""
        
# del_card_id2 = [e for e in card_id2 if df_1_del.iloc[list(df_1_del['卡號']).index(e), 4] != df_1_del.iloc[, 5]]

"for i in df_1_del['卡號']:\n    if i not in card_id2:\n        card_id2.append(i)"

In [68]:
len(Counter(dfff_1_sort_del['卡號']))

446601

In [19]:
df_1_del = dfff_1_sort_del
df_1_del.head(10)

,卡號,卡種,進站時間,出站時間,進站站名,出站站名
426884,00001828EC89F17789056806C93DD5BE,1,2018/3/15 08:35,2018/3/15 08:47,景安,古亭
988373,00001828EC89F17789056806C93DD5BE,1,2018/3/15 18:21,2018/3/15 18:40,古亭,景安
21236,00003BB606A8D4471CE3A1303DC0F97F,1,2018/3/15 06:20,2018/3/15 06:31,唭哩岸,北投
1514086,00003BB606A8D4471CE3A1303DC0F97F,1,2018/3/15 22:07,2018/3/15 22:14,北投,唭哩岸
988140,0000A959F2E22684577055C745EF9729,1,2018/3/15 18:21,2018/3/15 18:38,台北車站,信義安和
1151096,0000A959F2E22684577055C745EF9729,1,2018/3/15 19:05,2018/3/15 19:23,信義安和,台北車站
1054490,0000E23181935790F3BAD948933386B9,1,2018/3/15 18:37,2018/3/15 18:48,東門,古亭
1252265,0000E23181935790F3BAD948933386B9,1,2018/3/15 19:47,2018/3/15 20:08,古亭,忠孝新生
119537,0000EABB9067C31973979766C9583BAD,1,2018/3/15 07:16,2018/3/15 07:22,永春,後山埤
179978,0000EABB9067C31973979766C9583BAD,1,2018/3/15 07:36,2018/3/15 07:40,後山埤,永春

In [38]:
l = []

for i in range(1, 45):
    if i == 1:
        card_id2_1 = card_id2[0: 16601]
    else:
        card_id2_1 = card_id2[6601 + (i - 1)*10000: 6601 + i*10000]
    df_1_del_s = df_1_del.loc[df_1_del['卡號'].isin(card_id2_1)]
    for j in card_id2_1:
        a = df_1_del_s.loc[df_1_del_s['卡號'] == j]  #從unique叫出卡號
        l.append((a.iloc[0, 4]==a.iloc[-1, 5]) & (a.iloc[0, 5]==a.iloc[1, 4]) )
        #頭進站 == 尾出站
        #第一次出站 == 第二次進站

In [72]:
s = datetime.datetime.now()
lkk = df_1_del_s.loc[df_1_del_s['卡號'] == '0000A959F2E22684577055C745EF9729']
e = datetime.datetime.now()
es = e - s
print(es[5::])

TypeError: 'datetime.timedelta' object is not subscriptable

# 4個藍色禁止的卡號

In [49]:
# 3
l_reverse = list(np.logical_not(l))
d3 = df_1_del.loc[df_1_del['卡號'].isin(np.array(card_id2)[l_reverse])]
df_blue = pd.concat([df_blue, d3])
df_blue = df_blue.reset_index(drop=True)
#delete_card_id.extend(np.array(card_id2)[l_reverse])

In [ ]:
card_id_firstlast = np.array(card_id2)[l]

In [ ]:
df_1_del_firstlast = df_1_del.loc[df_1_del['卡號'].isin(card_id_firstlast)]

In [ ]:
len(df_1_del_firstlast)

In [ ]:
df_1_del_firstlast['進站時間'] = [e[10::] for e in df_1_del_firstlast['進站時間']]
df_1_del_firstlast['出站時間'] = [e[10::] for e in df_1_del_firstlast['出站時間']]

In [ ]:
df_1_del_firstlast.head(10)

In [ ]:
df_1_del_firstlast.to_csv("C:/Users/USER/Desktop/0315運具資料/無單筆_無同站_無怪時間_頭尾相同.csv")

In [ ]:
df_1_del_firstlast.shape

# 4個藍色禁止的卡號

In [50]:
print(df_blue.shape)
df_blue.head()

(580427, 6)

,卡號,卡種,進站時間,出站時間,進站站名,出站站名
0,6D9590F12CBCD2066AAA34966BE2CE28,4,2018/3/15 09:00,2018/3/15 09:01,東湖,東湖
1,DA18BCEFF3AB149401A8D61E752440BB,1,2018/3/15 09:00,2018/3/15 09:04,土城,土城
2,AC4CC19B879A3095C13B0F782DAAD9F8,4,2018/3/15 09:00,2018/3/15 09:04,菜寮,台北橋
3,3F6E33625D0A37DCF3BAD948933386B9,1,2018/3/15 09:00,2018/3/15 09:04,新莊,輔大
4,76F1787603908D2A885D30353824D5F1,1,2018/3/15 09:00,2018/3/15 09:04,芝山,明德

# 跟賸豐的合起來

In [51]:
df_not = pd.read_csv("C:/Users/USER/Desktop/0315運具資料/不合理4.csv") # 賸豐的檔案
df_not.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,卡號,卡種,進站時間,出站時間,進站站名,出站站名
0,4,4,988140,0000A959F2E22684577055C745EF9729,1,18:21,18:38,台北車站,信義安和
1,5,5,1151096,0000A959F2E22684577055C745EF9729,1,19:05,19:23,信義安和,台北車站
2,6,8,119537,0000EABB9067C31973979766C9583BAD,1,07:16,07:22,永春,後山埤
3,7,9,179978,0000EABB9067C31973979766C9583BAD,1,07:36,07:40,後山埤,永春
4,18,35,945157,0002D0CE4DA9D320885D30353824D5F1,1,18:12,18:46,永寧,善導寺

In [52]:
df_not1 = df_not.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'])
df_not1.head()

                                 卡號  卡種   進站時間   出站時間  進站站名  出站站名
0  0000A959F2E22684577055C745EF9729   1  18:21  18:38  台北車站  信義安和
1  0000A959F2E22684577055C745EF9729   1  19:05  19:23  信義安和  台北車站
2  0000EABB9067C31973979766C9583BAD   1  07:16  07:22    永春   後山埤
3  0000EABB9067C31973979766C9583BAD   1  07:36  07:40   後山埤    永春
4  0002D0CE4DA9D320885D30353824D5F1   1  18:12  18:46    永寧   善導寺

In [53]:
df_blue['進站時間'] = [e[10::] for e in df_blue['進站時間']]
df_blue['出站時間'] = [e[10::] for e in df_blue['出站時間']]
df_blue = df_blue.reset_index(drop=True)

In [54]:
df_blue.head()

                                 卡號  卡種   進站時間   出站時間 進站站名 出站站名
0  6D9590F12CBCD2066AAA34966BE2CE28   4  09:00  09:01   東湖   東湖
1  DA18BCEFF3AB149401A8D61E752440BB   1  09:00  09:04   土城   土城
2  AC4CC19B879A3095C13B0F782DAAD9F8   4  09:00  09:04   菜寮  台北橋
3  3F6E33625D0A37DCF3BAD948933386B9   1  09:00  09:04   新莊   輔大
4  76F1787603908D2A885D30353824D5F1   1  09:00  09:04   芝山   明德

In [55]:
t = [1]*len(d1['卡號']) + [2]*len(d2['卡號']) + [3]*len(d3['卡號']) + [4]*len(df_not1['卡號'])

In [56]:
df_merge = pd.concat([df_blue, df_not1])
df_merge = df_merge.reset_index(drop=True)
df_merge['type'] = t
df_merge.head()

                                 卡號  卡種   進站時間   出站時間 進站站名 出站站名  type
0  6D9590F12CBCD2066AAA34966BE2CE28   4  09:00  09:01   東湖   東湖     1
1  DA18BCEFF3AB149401A8D61E752440BB   1  09:00  09:04   土城   土城     1
2  AC4CC19B879A3095C13B0F782DAAD9F8   4  09:00  09:04   菜寮  台北橋     1
3  3F6E33625D0A37DCF3BAD948933386B9   1  09:00  09:04   新莊   輔大     1
4  76F1787603908D2A885D30353824D5F1   1  09:00  09:04   芝山   明德     1

In [57]:
df_merge.shape

(695610, 7)

In [58]:
df_merge.to_csv("C:/Users/USER/Desktop/0315運具資料/4個藍色禁止標誌.csv")

In [59]:
#df_1_del.to_csv("C:/Users/USER/Desktop/0315運具資料/df_1_del.csv")

In [71]:
len( Counter(dfff_1_sort['卡號']))

453671